:root{
    --letters: Arial, Helvetica, sans-serif;
    --letters-color:white;
    --header-footer: #546E7A;
    --body-color: #e1e5eb;
    --main-botton: black;
    --aside-border: rgba(84,110,122,0.5);
    --aside-border-shadow: #D7DBDD;

    --a: #71BBDF;
    --a-hover: #18A0E3;
}
*{
    margin: 0px;
    padding: 0px;
}
.mainBusqueda{
    width: 90%;
    max-width: 1250px;
    margin: 20px auto;
    background: var(--letters-color);
    font-family: var(--letters);
    padding: 10px;
    /* border-radius: 15px; */
    /* height: 890px; */
}
.center{
    text-align: center;
    /* background: red; */
}
.sectionBusqueda{
    margin: 5px;
    margin-bottom: 20px;
    width: 100%;
}
.pageBusqueda{
    /* background: red; */
    margin: 6px;
    padding: 8px;
    width: 30%;
    /* height: 170px; */
    /* float: left; */
    border-radius: 5px;
    border: 3px solid  var(--aside-border-shadow);
    border-top: 10px solid var(--header-footer);
}

.pageBusqueda:hover{
    background: var(--body-color);
}
.mainBusqueda .sectionBusqueda .pageBusqueda img{
    height: 55%;
    float: left;
    padding: 5px;
}
.mainBusqueda .sectionBusqueda .pageBusqueda p{
    padding: 5px;
}
h2{
    font-weight: normal;
}
/*Resultado periodista*/

/* .mainEditorial .sectionEditorial .noticiaMain img{
    width: 100%;
    height: 60%;
} */

/* .noticiaMain{
    margin: 5px;
    padding: 8px;
    width: 30%;
    height: 270px;
    float: left;
    border-radius: 10px;
    border: 1px solid var(--aside-border);
    box-shadow: 1px 1px 1px 1px var(--aside-border-shadow);
}
.main{
    height: 500px;
    width: 100%;
}
.section{
    width: 100%;
} */