:root{
    --letters: Arial, Helvetica, sans-serif;
    --letters-color:white;
    --header-footer: #546E7A;
    --body-color: #e1e5eb;
    --main-botton: black;
    --aside-border: rgba(84,110,122,0.5);
    --aside-border-shadow: #D7DBDD;

    --a: #71BBDF;
    --a-hover: #18A0E3;
}
*{
    margin: 0px;
    padding: 0px;
}
header,footer{
    width: cal(100%-10px);
    font-family: var(--letters);
    color: var(--letters-color);
}
header,nav,footer{
    background: var(--header-footer);
    overflow: hidden;
}

header{
    padding: 10px;
    height: 100px;
}
footer{
    text-align: center;
    height: 80px;
    padding: 10px;
}

body{
    background: var(--body-color);
}
.main{
    width: 90%;
    max-width: 1250px;
    margin: 20px auto;
    background: var(--letters-color);
    font-family: var(--letters);
    padding: 10px;
    /* border-radius: 15px; */
    /* height: 890px; */
}

/* Barra de navegacion */
nav ul{
    list-style-type: none;
}
nav ul li{
    float: left;
}
nav ul li .menu{
    color: var(--letters-color);
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    font-size: 16px;
}
nav ul li .menu:hover{
    background: var(--body-color);
    border-radius: 10px;
    font-size: 18px;
    color: var(--main-botton);
}
/*BUSCAR*/
.buscador{
    float: right;
    margin-right: 2%;
}
nav ul .buscador .buscar a{
    float: right;
}
nav ul .buscador .buscar p{
    margin-bottom: 5px;
    font-size: 16px;
    font-family: var(--letters);
}
nav ul .buscador .buscar select{
    color: black;
    /* border-radius: 5px; */
    font-size: 16px;
    font-family: var(--letters);
    background: white;
    border: 1px solid var(--header-footer);
    height: 4vh;
}
nav ul .buscador .buscar select:focus{
    outline: none;
}
nav ul .buscador .buscar input{
    border-radius: 2px;
    font-size: 16px;
    font-family: var(--letters);
    background: white;
    border: 1px solid var(--header-footer);
    height: 4vh;
    padding-left: 5px;
}
nav ul .buscador .buscar input:focus{
    outline: none;
    /* border: 1px solid var(--header-footer); */
}
.btnBuscar{
    background: white;
    margin-left: 10px;
    font-size: 16px;
    font-family: var(--letters);
    padding: 0px 8px 0px 8px;
    /* border-radius: 5px; */
    color: black;
    height: 4vh;
}
.btnBuscar:hover{
    color: black;
    background: #e1e5eb;
    /* padding: 0px 8px 0px 8px; */
    /* border-color: var(--body-color); */
}
/*BUSCAR*/

/* Barra de navegacion */
.cabeza{
    padding: 10px;
    margin: 10px;
    width: 97%;
}
.titleSection{
    margin: 10px;
}
.section{
    /* background: green; */
    margin: 5px;
    margin-bottom: 20px;
    width: 70%;
    /* margin-right: 1.5%; */
    float: left;
}
aside{
    margin: 10px;
    padding: 10px;
    /* border: 1px solid var(--aside-border); */
    /* box-shadow: 1px 1px 1px 1px var(--aside-border-shadow); */
    border: 3px solid  var(--aside-border-shadow);
    border-top: 10px solid var(--aside-border-shadow);
    width: 24.6%;
    float: left;
    height: 613px;
}
.a{
    text-decoration: none;
    color: var(--a-hover);
}
.a:hover{
    /* background:  var(--header-footer); */
    /* border: 1px solid var(--a); */
    border-radius: 5px;
    padding: 5px;
    color: var(--a);
}
.c{
    text-decoration: none;
    color: var(--a-hover);
}
.c:hover{
    /* color: red; */
    /* border: 1px solid blue; */
    background: var(--header-footer);
    color: var(--letters-color);
    padding: 5px;
    border-radius: 5px;
}
.main aside .books .book{
    /* padding: 4px; */
    margin-bottom: 18px;
    /* background: red; */
    height: 80px;
}
.t{
    padding: 5px;
}
.main aside .books .book img p{
    /* margin-top: 40px; */
    padding: 3px;
}

.main aside .books .book img{
    float: left;
    padding: 3px;
    padding-right: 5px;
    height: 100px;
}


.clear{
    clear: both;
}

.autors{
    padding: 10px;
    width: cal(100%-10px);
}
.autors .busc{
    padding: 5px;
}
.noticiaMain{
    margin: 5px;
    padding: 8px;
    width: 45%;
    height: 270px;
    float: left;
    border-radius: 5px;
    /* border: 1px solid var(--aside-border); */
    /* box-shadow: 1px 1px 1px 1px var(--aside-border-shadow); */
    border: 3px solid  var(--aside-border-shadow);
    border-top: 10px solid var(--aside-border-shadow);
}
.noticiaMain:hover{
    background: var(--body-color);
}
.main .section .noticiaMain h4{
    padding: 5px;
}
.main .section .noticiaMain img{
    width: 100%;
    height: 60%;
}
.main aside .books .book img{
    width: 22%;
}
.center{
    text-align: center;
    /* background: red; */
    margin-top: 12px;
}
.btn{
    /* text-align: right; */
    text-decoration: none;
    padding: 8px;
    /* border-radius: 10px; */
    color: var(--letters-color);
    background: var(--header-footer);
    margin-bottom: 10px;
}
.right{
    text-align: right;
}
.btn:hover{
    background: #698998;
    color: var(--letters-color);
    font-size: 20px;
    border: 2px solid var(--header-footer);
    padding: 6px;
    /* border-radius: 10px; */
}
/*pie de foto*/
/* .main .section .noticiaMain{
    position: relative;
} */
.span{
    position: relative;
    bottom:22px;
    color:white ;
    background:rgba(0, 0, 0, 0.5);
    padding:2px 10px;
    font-size: 80%;
}
/*pie de foto*/


/*NOTICIAS.PHP CODIGO CSS*/
.sectionNoticias{
    /* background: blue; */
    margin: 5px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}
.noticias{
    margin: 8px;
    padding: 7px;
    width: 30.4%;
    height: 380px;
    float: left;
    border-radius: 5px;
    border: 3px solid  var(--aside-border-shadow);
    /* box-shadow: 0px 0px 5px var(--header-footer); */
    border-top: 10px solid var(--header-footer);
}
.noticias:hover{
    background: var(--body-color);
}
.main .sectionNoticias .noticias p{
    text-align: justify;
}
.main .sectionNoticias .noticias img{
    width: 100%;
    height: 25vh;
}

.noticiaPeriodista{
    margin: 8px;
    padding: 7px;
    width: 30.4%;
    height: 300px;
    float: left;
    border-radius: 5px;
    border: 3px solid  var(--aside-border-shadow);
    border-top: 10px solid var(--header-footer);
}

.noticiaPeriodista:hover{
    background: var(--body-color);
}
.main .sectionNoticias .noticiaPeriodista p{
    text-align: justify;
}
.main .sectionNoticias .noticiaPeriodista img{
    width: 100%;
    height: 25vh;
}

.spans{
    position: relative;
    bottom:22px;
    color:white ;
    background:rgba(0, 0, 0, 0.5);
    padding:2px 10px;
    font-size: 80%;
}
/*NOTICIAS.PHP CODIGO CSS*/

/*LIBROS.PHP CODIGO CSS*/
.sectionBook{
    /* background: green; */
    margin: 5px;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.pageBook{
    /* background: red; */
    margin: 6px;
    padding: 8px;
    width: 30%;
    height: 190px;
    float: left;
    border-radius: 5px;
    /* border: 1px solid var(--aside-border); */
    /* box-shadow: 1px 1px 1px 1px var(--aside-border-shadow); */
    border: 3px solid  var(--aside-border-shadow);
    border-top: 10px solid var(--header-footer);
    
}
.pageBook:hover{
    background: var(--body-color);
}
.main .sectionBook .pageBook img{
    height: 95%;
    float: left;
    padding: 5px;
}
.main .sectionBook .pageBook p{
    padding: 5px;
}
.prologo{
    text-align: justify;
    margin-bottom: 6px;
}
/*LIBROS.PHP CODIGO CSS*/

/*PAGINADOR*/
.paginacion{
    padding: 10px;
    /* background: #71BBDF; */
    text-align: center;
}
.paginacion a{
    text-decoration: none;
    font-size: 16px;
}
.paginacion a:hover{
    background: #7bec7f;
}

ul.paginador {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.paginador li {display: inline;}

ul.paginador li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.paginador li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.paginador li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

ul.paginador li a.active {
    background-color: var(--header-footer);
    color: white;
    border: 1px solid var(--header-footer);
}
.disabled { 
    pointer-events: none; 
    cursor: default; 
} 
.disabled a{
    background: var(--body-color);
}
/*PAGINADOR*/